.message-card {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.sent {
    background: #42a5f5;
    color: white;
    border-radius: 20px 20px 3px 20px;
    padding: 7px 13px 7px 13px;
    width: fit-content;
    margin-left: auto;
}

.received {
    background: #f1f1f1;
    color: black;
    border-radius: 20px 20px 20px 3px;
    display: block;
    padding: 7px 13px 7px 13px;
    width: fit-content;
}